{:paths ["src" "resources"]
 :deps 
 {
  org.clojure/clojure {:mvn/version "1.9.0"} 

  ring/ring-core {:mvn/version "1.7.1"} #_"HTTP Abstraction"
  ring-logger {:mvn/version "1.0.1"} 

  metosin/reitit-core {:mvn/version "0.3.9"} #_"Routing core"
  metosin/reitit-ring {:mvn/version "0.3.9"} #_"Routing ring adapter"

  http-kit {:mvn/version "2.3.0"} #_"HTTP Server and Client, incl. websockets"

  environ {:mvn/version "1.1.0"} #_"Config loading"
  com.taoensso/timbre {:mvn/version "4.10.0"} #_"Logging"

  org.clojure/core.async {:mvn/version "0.4.500"} #_"Async operations"

  org.clojure/data.json {:mvn/version "0.2.6"} #_"JSON lib"
  cheshire {:mvn/version "5.8.1"} #_"Other JSON lib"

  clj-commons/iapetos {:mvn/version "0.1.9"} #_"Prometheus metrics"
 
  uswitch/opencensus-clojure {:mvn/version "0.2.84"} #_"Jaeger tracing"

  manifold {:mvn/version "0.1.8"} #_"Stream utils"
  aleph {:mvn/version "0.4.6"} #_"Async servers/clients" 
 }
 :aliases {
   :jar {:extra-deps {luchiniatwork/cambada {:mvn/version "1.0.0"}}
             :main-opts ["-m" "cambada.jar" 
                         "-m" "server.main"]}
   :uberjar {:extra-deps {luchiniatwork/cambada {:mvn/version "1.0.0"}}
             :main-opts ["-m" "cambada.uberjar" 
                         "-a" "all"
                         "-m" "server.main"]}
   :run {:main-opts ["-m" "server.main"]}
   :repl {:main-opts ["--repl"]}
 }
 :mvn/repos
    {"central" {:url "https://repo1.maven.org/maven2/"}
     "clojars" {:url "https://clojars.org/repo"}}
}
