{:paths ["src" "resources"]
 :deps 
{
 org.clojure/clojure {:mvn/version "1.10.1"} 

 ring/ring-core {:mvn/version "1.8.0"} #_"HTTP Abstraction"
 aleph {:mvn/version "0.4.7-alpha5"} #_"HTTP Server"

 metosin/reitit-core {:mvn/version "0.3.10"} #_"Routing core"
 metosin/reitit-ring {:mvn/version "0.3.10"} #_"Routing ring adapter"
 
 environ {:mvn/version "1.1.0"} #_"Config loading"
 
 cheshire {:mvn/version "5.8.1"} #_"JSON lib"
 
 org.clojure/tools.logging {:mvn/version "0.5.0"} #_"Logging"
 ring-logger {:mvn/version "1.0.1"} #_"HTTP Logging"
 
 clj-commons/iapetos {:mvn/version "0.1.9"} #_"Prometheus metrics"
 
 #_"Fixed versions for usage with graalvm"
 io.netty/netty-codec-http {:mvn/version "4.1.39.Final"}
 io.netty/netty-codec {:mvn/version "4.1.39.Final"}
 io.netty/netty-handler-proxy {:mvn/version "4.1.39.Final"}
 io.netty/netty-codec-socks {:mvn/version "4.1.39.Final"}
 io.netty/netty-handler {:mvn/version "4.1.39.Final"}
 io.netty/netty-resolver-dns {:mvn/version "4.1.39.Final"}
 io.netty/netty-codec-dns {:mvn/version "4.1.39.Final"}
 io.netty/netty-resolver {:mvn/version "4.1.39.Final"}
 io.netty/netty-transport-native-epoll {:mvn/version "4.1.39.Final"}
 io.netty/netty-common {:mvn/version "4.1.39.Final"}
 io.netty/netty-transport-native-unix-common {:mvn/version "4.1.39.Final"}
 io.netty/netty-transport {:mvn/version "4.1.39.Final"}
 io.netty/netty-buffer {:mvn/version "4.1.39.Final"}
 }
 :aliases {
   :jar {:extra-deps {luchiniatwork/cambada {:mvn/version "1.0.0"}}
             :main-opts ["-m" "cambada.jar" 
                         "-m" "server.main"]}
   :uberjar {:extra-deps {luchiniatwork/cambada {:mvn/version "1.0.0"}}
             :main-opts ["-m" "cambada.uberjar" 
                         "-a" "all"
                         "-m" "server.main"]}
   :run {:main-opts ["-m" "server.main"]}
   :repl {:main-opts ["--repl"]}
 }
 :mvn/repos
    {"central" {:url "https://repo1.maven.org/maven2/"}
     "clojars" {:url "https://clojars.org/repo"}}
}
